@import 'reset.css';

body {
    background-color: beige;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding:  50px 0px;
}

.canvas{
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

}

.controls{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls_btns{
    margin-bottom: 35px;
}

.controls_btns button{
    all: unset;
    cursor: pointer;
    padding: 5px 0px;
    width: 100px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.8);
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;

}

.controls_btns button:active{
    transform: scale(0.98);
}

.controls .controls__color{
    display: flex;
}

.controls__color .control__color {
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    cursor: pointer;
}

.controls .controls__range{
    margin-bottom: 30px;
}